name: cicd

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

#jobs:
  #call-workflow-passing-data:
    #uses: triciahf/.github/.github/workflows/ci-build.yaml@test_pipeline


jobs:
  build:
    #runs-on: triciahf/sen-v1
    runs-on: debian
    steps:
      - name: Checkout
        uses: actions/checkout@v2
    
      - name: echo
        run: echo "hi again"    
