name: CI Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: triciahf-sen-v1
    steps:
      - name: Checkout
        uses: actions/checkout@v2
    
      - name: echo
        run: echo "hi again"